<template>
  <b-card title="Welcome" tag="article" style="" class="mb-2">
    <b-card-text>

      <b-alert :show="hasError" variant="danger">Cannot continue. An error has occured.</b-alert>

      <b-form class="mt-3" @submit="onSubmit">
        <b-form-group
          id="input-group-1"
          label="Please enter your email address to start the test"
          label-for="input-1"
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>
      <b-button class="mt-2" type="submit" variant="primary">Start Test</b-button>
      </b-form>
    </b-card-text>
  </b-card>
</template>

<script>
export default {
  data() {
    return {
      form: {
        email: ''
      },
      hasError: false,

    }
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      this.hasError = false;
      this.$store
      .dispatch('test/startTest', this.form.email)
      .then(() => this.$router.push('/test'))
      .catch(() => {
          this.hasError = true;
      })
    }
  }
}
</script>
