<template>
  <div>
    <h5 class="mb-2">
      {{ title }}
    </h5>
    <b-card tag="article" style="">
      <b-card-text>
        <div>
          <h5>Schema:</h5>
          <div class="row">
            <div class="col-6">
              <strong>users</strong>
              <b-table
                bordered
                :items="schema.users"
                :fields="null"
                thead-class="d-none"
              ></b-table>
            </div>
            <div class="col-6">
              <strong>google_users</strong>
              <b-table
                bordered
                :items="schema.googleUsers"
                :fields="null"
                thead-class="d-none"
              ></b-table>
            </div>
          </div>
        </div>

        <hr />

        <p>
          Write a query to get the number of unique Google users whose last
          login was in July, 2019, broken down by device type. Show the most
          used device in that period first.
        </p>

        <b-form class="mt-3" @submit="onSubmit">
          <b-form-group
            label-for="input-1"
            :invalid-feedback="queryError"
            :state="queryError === null"
          >
            <b-form-textarea
              id="textarea"
              v-model="form.answer"
              placeholder="Enter something..."
              rows="3"
              max-rows="6"
              required
            ></b-form-textarea>
          </b-form-group>

          <b-button class="mt-2" type="button" variant="primary" @click="onExecuteQuery"
            >Execute</b-button
          >
          <b-button class="mt-2" type="submit" variant="success"
            >Submit Response</b-button
          >
        </b-form>
      </b-card-text>

      <div v-show="resultSet" class="result">
        <b-alert :show="isCorrect" variant="success">Correct!</b-alert>
        <b-alert :show="!isCorrect" variant="warning">Does not match expected results.</b-alert>
        <h5>Result:</h5>
        <b-table bordered :items="resultSet">
          <template #head()="data">
            {{ data.column }}
          </template>
        </b-table>

      </div>
    </b-card>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  data() {
    return {
      form: {
        answer: '',
      },
      resultSet: null,
      queryError: null,
      isCorrect: false,
    }
  },
  computed: {
    ...mapGetters({
      email: 'test/email',
    }),
    title() {
      return `Welcome ${this.email}`
    },
    expectedData() {
      return [
        ['Desktop', 99],
        ['Mobile', 43],
        ['Table', 16],
      ]
    },

    schema() {
      const users = [
        ['user_id', 'int', 'not null'],
        ['is_activated', 'boolean', 'not null'],
        ['signed_up_on', 'datetime', 'not null'],
        ['last_login', 'datetime', 'nullable'],
        ['sign_up_source', 'string', 'nullable'],
        ['unsubscribed', 'tinyint', 'not null'],
        ['user_type', 'tinyint', 'not null'],
      ]
      const googleUsers = [
        ['id', 'int', 'not null'],
        ['user_id', 'int', 'not null'],
        ['browser_language_code', 'string', 'not null'],
        ['created_on', 'datetime', 'not null'],
        ['device_cat', 'string', 'not null'],
      ]
      return { users, googleUsers }
    },
  },
  methods: {
    onSubmit(e) {
      e.preventDefault()
      this.$emit('submit', this.form.answer)
    },
    onExecuteQuery(e) {
      e.preventDefault()
      this.queryError = null
      this.isCorrect = false
      this.resultSet = null
      this.$store
        .dispatch('test/executeQuery', this.form.answer)
        .then((responseData) => {
          this.resultSet = responseData.result
          this.isCorrect = responseData.isCorrect
        })
        .catch((e) => {
          if (e.sqlError) {
            this.queryError = e.sqlError
          } else if (e.response.status === 403) {
            // invalid signature in API request
            // redirect to front page`
            this.$router.replace('/')
          }
        })
    },
  },
}
</script>
