<template>
  <b-modal id="bv-modal-example" :visible="show"
    centered
    hide-header no-close-on-backdrop
    ok-title="Confirm" @cancel="onCancel" @ok="onConfirm">
    <div class="d-block text-center">
      <h3>Are you sure you want to submit your answer?</h3>
    </div>
  </b-modal>
</template>
<script>
export default {
  props: {
    show: {
      type: Boolean,
      required: true,
      default: false
    }
  },
  methods: {
    onCancel() {
      this.$emit('cancel')
    },
    onConfirm() {
      this.$emit('confirm')
    },
  }
}
</script>
