<template>
  <div class="row">
    <div class="col-sm mt-5">
      <b-alert variant="success" show>Your answer has been submitted.</b-alert>
    </div>
  </div>
</template>

<script>
export default {}
</script>
