<template>
  <div class="row">
    <div class="col-sm mt-5">
      <b-alert show variant="warning">Your answer has already been submitted. Updating the answer is not allowed</b-alert>
    </div>
  </div>
</template>

<script>
export default {}
</script>
