<template>
  <div class="row">
    <div class="col-sm mt-5">
      <TestCard @submit="onAnswerSubmit" />
    </div>
    <TestConfirmationModal :show="showModal" @confirm="onConfirm" @cancel="onCancel" />
  </div>
</template>

<script>
export default {
  middleware: 'authorized',
  data() {
    return {
      showModal: false,
      answer: null,
    }
  },
  methods: {
    onCancel() {
      this.showModal = false
    },
    onConfirm() {
      this.showModal = false
      this.$store.dispatch('test/submitTest', this.answer)
        .then(() => {
          this.$router.push('/done')
        }).catch(() => {
          this.$router.push('/invalid')
        })
    },
    onAnswerSubmit(answer) {
      this.showModal = true
      this.answer = answer
    },
  }
}
</script>
